alchemical
alembic
apifairy
faker
flask
flask-cors
flask-httpauth
flask-mail
flask-marshmallow
flask-sqlalchemy  # not used, but required by flask-marshmallow
gunicorn
marshmallow-sqlalchemy
pip-tools
pyjwt
python-dotenv
requests
